.container{
    max-width:100%;
    margin: 0 auto;
}

.input-field{
    padding: 10px;
}

.input-field label{
    display: block;
    font-size: 20px;
    margin-left: -8;
    font-weight: 300;
    color: aquamarine;
}

.input-field input[type='text']{
    width: 100%;
    padding: 8px;
    margin-left: -8;
    font-size: 16px;
}

.publish-btn{
    width:20%;
    padding: 10px;
    background-color: teal;
    color: pink;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
}